{% if nav|length>1 %}
<ul class="left">
    <li>
        <h4 class="brand">KataDocs</h4>
    </li>
    {% for nav_item in nav %}
    {% if nav_item.children %}
    <li>{{ nav_item.title }}
        <ul>
            {% for nav_item in nav_item.children %}
            <li class="{% if nav_item.active%}current{%endif%}">
                <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li class="{% if nav_item.active%}current{%endif%}">
        <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<ul class="right">
    {% if include_next_prev %}
    <li {% if not previous_page %}class="disabled"{% endif %}>
        <a rel="next" {% if previous_page %}href="{{ previous_page.url }}"{% endif %}>
            <i class="fa fa-arrow-left"></i>  Previous 
        </a>
    </li>
    <li {% if not next_page %}class="disabled"{% endif %}>
        <a rel="prev" {% if next_page %}href="{{ next_page.url }}"{% endif %}>
            Next  <i class="fa fa-arrow-right"></i>
        </a>
    </li>
    {% endif %}    
</ul>
